<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <input type="text" name="first_name"><br/>
  <input type="text" name="last_name"><br/>
  <input type="text" name="email"><br/>
  <input type="text" name="notes"><br/>
  <input type="submit" name="Submit">
</form>

<a href="/">Back to Main menu</a>