<div id="main_container">
  <h2>Main Menu</h2>
  <div id="sub_container">
    <ul>
    <p><a href="/contacts">Display All Contacts</a></p>
    <p><a href="/contacts/:id">Display All Contacts by Attribute</a></p>
    <p><a href="/contacts/add">Add a New Contact</a></p>
    <p><a href="/contacts/:id/modify">Modify an Existing Contact</a></p>
    </ul>
  </div>
</div>