<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">Display all contacts</a></li>
  <li><a href="/contacts/:id">Display all contacts by attribute</a></li>
  <li><a href="/contacts/add">Add a new contact</a></li>
  <li><a href="/contacts/:id/modify">Modify an existing contact</a></li>
  <!-- please complete with links to other options -->
</ul>