<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main Menu</p>
<ul>
  <li><a href="/contacts">Display All Contacts</a></li>
  <li><a href="/contacts/:id">Display All Contacts by Attribute</a></li>
  <li><a href="/contacts/add">Add a New Contact</a></li>
  <li><a href="/contacts/:id/modify">Modify an Existing Contact</a></li>
  <!-- please complete with links to other options -->
</ul>