  <h1>Welcome to <%= @crm_app_name%></h1>

  <p>Main Menu</p>

  <ul>
    <p><a href="/contacts">View All Contacts</a></p>
    <p><a href="/contacts/:id">View a Contact</a></p>
    <p><a href="/contacts/add">Add a New Contact</a></p>
    <p><a href="/contacts/:id/modify">Modify an Existing Contact</a></p>
  </ul>