<!DOCTYPE html>
<html>
<head>
  <title>Customer Relationship Management</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<div id="main_header">
  Customer Relationship Management
</div> 

<body>
  <%= yield %>
</body>
</html>