<div id = 'main_container'>

<h1>Contact Info</h1> 
  <div id = 'sub_container'>
    <ul>
      <li> <strong>Name:</stonr> <%= @contact.first_name %> <%= @contact.last_name %></li>
      <li> <strong>Email:</strong> <%= @contact.email %></li>
      <li> <strong>Note:</stront> <%= @contact.notes %></li>
    </ul>
    </br>
    <p><a href="/">Back to Main Menu</a></p>
  </div>
</div>
