<div id = 'main_container'>

  <h1>Main Menu</h1>
  
    <div id = 'sub_container'>    
      <ul>
        <li><a href="/contacts">View All Contacts</a></li>
        <li><a href="/contacts/:id">View a Contact</a></li>
        <li><a href="/contacts/add">Add a New Contact</a></li>
        <li><a href="/contacts/:id/modify">Modify an Existing Contact</a></li>
      </ul>
    </div>

</div>