<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to CRM</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  
  <body>
    <div id ='main_header'>
    Customer Relationship Management
    </div>
    <%= yield %>
  </body>
</html>